#logo {
    width: 125px;
    height: 80px;
}
body  {
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    background-size: cover;
    font-family: "Baloo 2", cursive;
    
}
ul { /*paramètre bandeau */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(171, 1, 49, 0.5);
    text-align: left;
  }
li { /*position boutons */
    display: inline;
   }
  /*texte bandeau / textdeco ??? */
li a {
    display: inline-flex;
    color: rgb(0, 0, 0);
    padding: 15px 55px;
    text-align: center;
    text-decoration: rgb(0, 0, 0) ;

  }
   /*position et couleur bouton plus */
.active {
    background-color: rgb(240, 189, 24);
    float: right;
  }
  
  /* Change la couleur au survol/hover */
li a:hover {
    background-color: rgb(73, 73, 73);
    color: wheat;
  }